h3{
	display: inline-block;
    margin-right: 25px;
}
.dropdown{
	display: inline-block;
}
.caja{
	border: 1px solid black;
    width: 300px;
    height: 300px;
}
.dos{
	    margin: 30px 0;
}

#foto{

}
img{
	width: 100%;
}